.body-bibliografia {
  background: $background-bibliografia;
}


  .main-bibliografia {
    min-height: 125vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
  }

  .seccion-bibliografia-1 {
    height: auto;
    width: 90%;
    padding-top: 2rem;
    margin: 2rem auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
  
  h2 {
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: #000000;
   
  }
  .span-0 {
    color: rgb(100, 200, 200);
  }
  .span-1 {
    color: rgba(209, 31, 31, 0.767);
  }
  
  div {
    height: 200px;
    width: 50%;
    margin: 0 auto;
    padding: 1rem auto;
  }

  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: transform 1.5s;

    &:hover {
      transform: scale(0.8);
    }
  }

  p {
    font-size: 1.4rem;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  
  .figure_chaparrals {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.4rem 0;


    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px #000000 solid;
      text-align: center;
      
    }
  }
}

.seccion-bibliografia-2 {
  height: auto;
  width: 90%;
  padding-top: 0.1rem;
  margin: 2rem auto;
  border: 3px solid black;
    
  h2 {
    font-size: 1.7rem;
    text-align: center;
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  .span-2 {
  color: rgb(53, 45, 45);
}
 .span-3 {
  color: rgb(53, 45, 45);
}

  div {
    height: 200px;
    width: 60%;
    margin: 0 auto 20px auto;
  }

  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: transform 1.5s;
  
    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    font-size: 1.4rem;
    text-align: left;
    font-family: 'Permanent Marker', cursive;
    margin: -10px auto 0 auto;
    padding: 10px;
    display: flex;
    color: #000000;
  }

.figure_Gervin {
  width: 245px;
  margin: 0 auto;
  height: auto;
  padding: 0.5rem 0;

  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
  }
  figcaption {
    width: auto;
    height: auto;
    border: 1px solid black;
    text-align: center;
  }
}

  .figure_Gervin_2 {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;
  
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }
}


.seccion-bibliografia-3 {
    height: auto;
    width: 90%;
    padding-top: 0.3rem;
    margin: 2rem auto;
    border: 3px solid black;
  
  h2 {
    font-size: 1.7rem;
    text-align: center;
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }
  .span-4 {
    color: rgb(62, 214, 194);
  }
  .span-5 {
    color: #d440c1;
  }
  .span-6 {
    color: rgb(75, 66, 66);
  }
  .span-7 {
    color: #FF9A25;
  }

  div {
    height: 200px;
    width: 60%;
    margin: 0 auto 20px auto;
  }

  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: transform 1.5s;
  
    &:hover {
      transform: scale(1.1);
    } 
  }

  p {
    font-size: 1.4rem;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }
  
  .figure_Robinson {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;
  
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }

  .figure_Rodman {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;
  
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%; 
    }

    figcaption {
      border: 1px solid black;
    }
  }
}

.seccion-bibliografia-4 {
    height: auto;
    width: 90%;
    padding-top: 2rem;
    margin: 2rem auto;
    border: 3px solid black;
  
  h2 {
    font-size: 1.7rem;
    text-align: center;
    margin: 20px;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  .span-8 {
    color: #000000;
  }

  .span-9 {
    color: rgb(75, 66, 66);
  }

  .span-10 {
    color: #000000;
  }

  div {
    height: 200px;
    width: 60%;
    margin: 0 auto 20px auto;
  }

  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: transform 1.5s;
  

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    font-size: 1.4rem;
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  .figure_Duncan {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;
  
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }

  .figure_Manu {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;

    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }

  .figure_Parker {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;
 
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }

  .figure_Bigthree {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;

  img {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
  }
    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }
}


.seccion-bibliografia-5 {
    height: auto;
    width: 90%;
    padding-top: 2rem;
    margin: 2rem auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;

  h2 {
    font-size: 1.7rem;
    text-align: center;
    margin: 20px;
    color: rgb(31, 28, 28);
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  div {
    height: 200px;
    width: 60%;
    margin: 0 auto 5px auto;
  }

  img {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition: transform 1.5s;
 

    &:hover {
      transform: scale(1.1);
    }
  }

  p {
    font-size: 1.4rem;
    text-align: left;
    padding: 1rem;
    font-family: 'Permanent Marker', cursive;
    color: #000000;
  }

  
  .figure_Lam-Der {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;

  
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
      
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }


  .figure_young {
    width: 245px;
    margin: 0 auto;
    height: auto;
    padding: 0.5rem 0;
  
    img {
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    figcaption {
      width: auto;
      height: auto;
      border: 1px solid black;
      text-align: center;
    }
  }
}  

.seccion-bibliografia-final {
  height: auto;
  width: 90%;
  padding-top: 2rem;
  margin: 2rem auto;
  border: 3px solid black;
  display: flex;
  flex-direction: column;

h3 {
  font-size: 1.7rem;
  text-align: center;
  margin: 20px;
  color: rgb(31, 28, 28);
  font-family: 'Permanent Marker', cursive;
  color: #000000;
}

div {
  height: 200px;
  width: 60%;
  margin: 0 auto 5px auto;
}

img {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transition: transform 1.5s;


  &:hover {
    transform: scale(1.1);
  }
}

p {
  font-size: 1.4rem;
  text-align: left;
  padding: 1rem;
  font-family: 'Permanent Marker', cursive;
  color: #000000;
 }
}

  
@media screen and (min-width: 768px) {
  
  .seccion-bibliografia-1 { 
    h2 {
    font-size: 3rem;
  }
  .figure_chaparrals {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}
  .seccion-bibliografia-2 {
    h2 {
    font-size: 3rem;
    padding-bottom: 0.2rem;
  }

  p {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .figure_Gervin{
    float: left;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0 25px 63px 25px;
  }
  
  .figure_Gervin_2{
    float: right;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0 25px 63px 25px;
  }
}

  .seccion-bibliografia-3 {
    h2 {
    font-size: 3rem;   
  }

  p {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .figure_Robinson {
    float: right;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0 25px 100px 25px;
  }
  
  .figure_Rodman {
    float: left;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0 25px 63px 25px;
  
    .figure_Rodman p {
      padding: 0px;
      font-size: 1.2rem;
    }
  }
}

  .seccion-bibliografia-4 {
    h2 {
      font-size: 3rem;
    }
    
    p {
      width: 100%;
      margin: 0 auto;
      display: block;
    }

  .figure_Duncan {
    float: right;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0px 25px 131px 25px;
  }

  .figure_Manu {
    float: left;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0px 25px 129px 25px;
  }

  .figure_Parker {
    float: right;
    width: 30%;
    height: 250px;
    margin-right: 38px;
    margin-bottom: 30px;
    padding: 24px 0px 70px 0px;
    margin: 0 25px 160px 25px;
  }

  .figure_Bigthree {
    width: 50%;
    text-align: center;
    margin: 0 auto;

    .Bigthree-p {
      text-align: center;
    }
  }
}

  .seccion-bibliografia-5 {

  h2 {
    font-size: 3rem;
  }

  .figure_Lam-Der {
    width: 50%;

    p {
      text-align: center;
    }
  }

  .figure_young {
    width: 50%;
  
    p {
      padding: 5px;
    }
  }

}

.seccion-bibliografia-final {

  h3 {
    font-size: 3rem;

    p {
      padding: 5px;
    }
  }

}

}

@media screen and (min-width: 1024px) {
  
  .seccion-bibliografia-1 {

    h2 {
      font-size: 4rem;
      }

    div {
      width: 65%;
      margin-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  .seccion-bibliografia-2 {
    
    h2 {
    font-size: 4rem;
  }
 
    div {
      width: 65%;
      margin-top: 3rem;
      margin-bottom: 2rem;
  }

    .figure_Gervin {
      margin-bottom: 2rem;
      height: 330px;  
    }

    .figure_Gervin_2 {
      margin-bottom: 2rem;
      height: 330px; 
    }
    
  }


  .seccion-bibliografia-3 { 
    
    h2 {
    font-size: 4rem;
  }

  div {
    width: 65%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .figure_Robinson {
    height: 330px;
    width: 360px;
    margin-bottom: 4rem;
    margin-top: -1rem;
  }

  .figure_Rodman {
    height: 340px;
    width: 360px;
    margin-bottom: 6rem;
  }
}

  .seccion-bibliografia-4 {
  h2 {
    font-size: 4rem;
  }

  .figure_Duncan {
    height: 330px;
    width: 360px;
    margin-bottom: 60px;
  }

  .figure_Manu {
    height: 330px;
    width: 360px;
    margin-bottom: 50px;
  }

  .figure_Parker {
    height: 330px;
    margin-bottom: 5rem;
    width: 360px;
  }

  div {
    width: 65%;
    margin-top: 3rem;
    margin-bottom: 2rem;
  } 
}

  .seccion-bibliografia-5 {
    h2 {
      font-size: 4rem;
    }
  }

  .seccion-bibliografia-final {
    div {
      width: 40%;
      margin-top: 3rem;
      margin-bottom: 2rem;
    } 
  }
}

