
.main__contacto {
    background: $back-ground-contacto ;
    opacity: 0.9;
    font-family: "Lobster", cursive;
    color: #fff;
  }
  
  legend {
    font-family: "Bebas Neue", cursive;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 2.5rem;
  }
  
  #checkbox {
    margin-left: 10px;
  
    input {
      margin-bottom: 20px;
    }
  
    button {
    border-radius: 1rem;
    transition: 0.3s ease all;
    position: relative;
    overflow: hidden;
  
    span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
    } 
  
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border-bottom: 90px solid #e4712e;
      border-right: 40px solid transparent;
      position: absolute;
      z-index: 1;
      top: -50px;
      left: calc(-100% - 50px);
      transition: 0.3s ease-in-out all;
    }
    &:hover::after {
      left: 0;
    }
  }
}

 