/*---------------Inicio del main Contacto con Bootstrap--------------------------*/
.main__contacto {
  background-color: #000000;
  opacity: 0.9;
  font-family:'Lobster', cursive;
  color: #fff;

  legend {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    margin-top: 6.5rem;
  }
}

#checkbox {
  margin-left: 10px;

  input{
    margin-bottom: 20px;
  }
}

#checkbox button {
  border-radius: 1rem;
  transition: .3s ease all;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
    transition: .3s ease all;
  }
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      border-bottom: 90px solid #e4712e;
      border-right: 40px solid transparent;
      position: absolute;
      z-index: 1;
      top: -50px;
      left: calc(-100% - 50px);
      transition: .3s ease-in-out all;
    }
      &:hover::after {
        left: 0;
      }
} 
