
.main-fanposts {

  background: $back-ground-fanposts; 
  color: #ffffff;
}
 
 .titulo {
    border: 5px solid #000000;
  
  h3 {
    font-size: 2rem;
    font-family: 'Michroma', sans-serif;
    padding: 1rem;
    text-align: center;
  }
}
  
  .seccion-fanposts-1 {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   border: 5px solid #000000;
   padding-top: 1rem;
  
  
  h3 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    padding: 10px 0;
  }
  
  div {
    width: 100%;
    padding: 0 5px;
  
  
    p {
      font-size: 0.9rem;
      font-family: 'Michroma', sans-serif;
      text-align: center;
    }
  }

  .boton-fanpost {
    width: 100%;
    margin: 1rem 0;
    height: 3.5rem;
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Michroma', sans-serif;
    transition: 0.3s ease all;
    position: relative;
    overflow: hidden;
  
  span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
  }
  &:hover {
    color: #f0ecdf;
  }
  &:hover:active {
    color: black;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #c02db4;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: 0.3s ease-in-out all;
  }
  &:hover::after {
    top: 0;
  }
}
}

  .seccion-fanposts-2 {
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   border: 5px solid #000000;
  
  h3 {
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 1.5rem;
    padding: 10px 0;
  }
  
  div {
    width: 100%;
    padding: 0 5px;
 
    p {
      font-size: 0.9rem;
      font-family: 'Michroma', sans-serif;
      text-align: center;
    }
  }

  .boton-fanpost {
    width: 100%;
    margin: 1rem 0;
    height: 3.5rem;
    display: inline-block;
    border-radius: 1rem;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Michroma', sans-serif;
    transition: 0.3s ease all;
    position: relative;
    overflow: hidden;
 
  span {
    position: relative;
    z-index: 2;
    transition: 0.3s ease all;
  }
  &:hover {
    color: #f0ecdf;
  }
  &:hover:active {
    color: black;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #c0581b;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: 0.3s ease-in-out all;
  }
  &:hover::after {
    top: 0;
  }
}
}
  
  .seccion-fanposts-3 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid #000000;

   h3 {
     text-align: center;
     font-family: 'Michroma', sans-serif;
     font-size: 1.5rem;
     padding: 10px 0;
   }
   
   div {
     width: 100%;
     padding: 0 5px;
   
   p {
     font-size: 0.9rem;
     font-family: 'Michroma', sans-serif;
     text-align: center;
    }
  }

    .boton-fanpost {
      width: 100%;
      margin: 1rem 0;
      height: 3.5rem;
      display: inline-block;
      border-radius: 1rem;
      text-align: center;
      font-size: 1rem;
      cursor: pointer;
      font-family: 'Michroma', sans-serif;
      transition: 0.3s ease all;
      position: relative;
      overflow: hidden;

    span {
      position: relative;
      z-index: 2;
      transition: 0.3s ease all;
    }

    &:hover {
      color: #f0ecdf;
   }
    &:hover:active {
     color: black;
   }
    &::after {
     content: "";
     width: 100%;
     height: 100%;
     background: #1b9fc0;
     position: absolute;
     z-index: 1;
     top: -80px;
     left: 0;
     transition: 0.3s ease-in-out all;
   }
    &:hover::after {
     top: 0;
   }
  }
}

   .seccion-fanposts-4 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border: 5px solid #000000;
    padding-bottom: 2rem;
   
   h3 {
     text-align: center;
     font-family: 'Michroma', sans-serif;
     font-size: 1.5rem;
     padding: 10px 0;
   }
   
   div {
     width: 100%;
     padding: 0 5px;
   
   p {
     font-size: 0.9rem;
     font-family: 'Michroma', sans-serif;
     text-align: center;
   }
  }
   
  .boton-fanpost {
     width: 100%;
     margin: 1rem 0;
     height: 3.5rem;
     display: inline-block;
     border-radius: 1rem;
     text-align: center;
     font-size: 1rem;
     cursor: pointer;
     font-family: 'Michroma', sans-serif;
     transition: 0.3s ease all;
     position: relative;
     overflow: hidden;
   
    span {
     position: relative;
     z-index: 2;
     transition: 0.3s ease all;
   }
    &:hover {
     color: #f0ecdf;
   }
    &:hover:active {
     color: black;
   }
    &::after {
     content: "";
     width: 100%;
     height: 100%;
     background: #5c5551;
     position: absolute;
     z-index: 1;
     top: -80px;
     left: 0;
     transition: 0.3s ease-in-out all;
   }
    &:hover::after {
     top: 0;
    }
   }
  }


   @media screen and (min-width: 768px) {
    .seccion-fanposts-1 {
      h3 {
        width: 90%;
        margin: 0 auto;
      }

      p {
        width: 90%;
        margin: 0 auto;
      }

      div {
        width: 90%;
        margin: 0 auto;
      }
    }

    .seccion-fanposts-2 {
      h3 {
        width: 90%;
        margin: 0 auto;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      div {
        width: 90%;
        margin: 0 auto;
      }
    }
    
    .seccion-fanposts-3 {
      h3 {
        width: 90%;
        margin: 0 auto;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      div {
        width: 90%;
        margin: 0 auto;
      }
    }
    
    .seccion-fanposts-4 {
      h3 {
        width: 90%;
        margin: 0 auto;
      }
      p {
        width: 90%;
        margin: 0 auto;
      }
      div {
        width: 90%;
        margin: 0 auto;
      }
    }
  }
  
  @media screen and (min-width: 1024px) {
    
    .titulo {
      h3 {
        font-size: 3.5rem;
      }
    }
  
    .seccion-fanposts-1 {
      h3 {
        font-size: 2.4rem;
        text-align: start;
      }

      div p {
        font-size: 1.3rem;
        text-align: center;
      }

    }
    
    .seccion-fanposts-2 {
      h3 {
        font-size: 2.4rem;
        text-align: start;
      }
      div p {
        font-size: 1.3rem;
        text-align: center;
      }

    }
  
  
    .seccion-fanposts-3 {
      h3 {
        font-size: 2.4rem;
        text-align: start;
      }
      div p {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  
    .seccion-fanposts-4 {
      h3 {
        font-size: 2.4rem;
        text-align: start;
      }
      div p {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }
  
  @media screen and (min-width: 1440px) {
    
    .titulo {
      h3 {
        font-size: 4.6rem;
      }
    }
  
    .seccion-fanposts-1 {
      h3 {
        font-size: 3rem;
      }
      
      div {
        width: 80%;
        margin: 0 auto;

        p {
          font-size: 1.7rem;
          width: 70%;
          padding: 5px 0;
        }
      }
    }

    .seccion-fanposts-2 {
      h3 {
        font-size: 3rem;   
      }
      
      div {
        width: 80%;
        margin: 0 auto;

        p {
          font-size: 1.7rem;
          width: 70%;
          padding: 5px 0;
        }
      }
    }
  
    .seccion-fanposts-3 {
      h3 {
        font-size: 3rem;
      }
      div {
        width: 80%;
        margin: 0 auto;

        p {
          font-size: 1.7rem;
          width: 70%;
          padding: 5px 0;
        }
      }
    }

    .seccion-fanposts-4 {
      h3 {
        font-size: 3rem;
      }

      div {
        width: 80%;
        margin: 0 auto;

        p {
          font-size: 1.7rem;
          width: 70%;
          padding: 5px 0;
        }
      }
    }
  }