footer {
    background-color: #000000;
    border: 3px solid #fff;
    opacity: 0.9;
    color: #fff;

  h4 {
    font-family: "Lobster", cursive;
    background: linear-gradient(to right, rgb(177, 14, 155), rgb(100, 200, 200)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
 
    &:hover {
      color: wheat;
      background-size: 0 3px, 100% 3px;
    }
  }

  .righteous {
    font-family: "Righteous", cursive;
    color: #fff;
  
    &:hover {
      color: wheat;
    }
  }

  .footer__linea {
    height: 1px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px dashed #fff;
    padding: 5px;
  }

  .logos {
    width: auto;
  
  i {
    width: auto;
 
  &:hover {
    text-shadow: 0 0 5px rgb(0, 178, 255), 0 0 10px rgb(0, 178, 255), 0 0 20px rgb(0, 178, 255), 0 0 40px rgb(38, 104, 127), 0 0 80px rgb(38, 104, 127), 0 0 90px rgb(38, 104, 127), 0 0 100px rgb(38, 104, 127), 0 0 140px rgb(38, 104, 127), 0 0 180px rgb(38, 104, 127);
    }
  }
  
  }

  .reservado {
    font-family: "Lobster", cursive;
    text-decoration: none;

    a {
      color: white;
    
      &:hover {
        text-shadow: 0 0 5px rgb(0, 178, 255), 0 0 10px rgb(0, 178, 255), 0 0 20px rgb(0, 178, 255), 0 0 40px rgb(38, 104, 127), 0 0 80px rgb(38, 104, 127), 0 0 90px rgb(38, 104, 127), 0 0 100px rgb(38, 104, 127), 0 0 140px rgb(38, 104, 127), 0 0 180px rgb(38, 104, 127);
      }
    }
  }
}