* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

.body-index {
  background-image: linear-gradient(to left top, #59a9b5, #09a0c5, #0093d6, #0081e0, #6467db, #9f4ec0, #c22f9b, #d2096f, #ce3543, #ba5722, #9e6f13, #7f7f26);
  background-attachment: fixed;
  background-size: cover;
}

.body-bibliografia{
  background-color: #000000;
  background-image: linear-gradient(to bottom, #12050d, #361b24, #5f2e31, #854537, #a56336, #ba6c3b, #cf7640, #e57f45, #f96e63, #ff6189, #f961b5, #dc6fe1);
  background-attachment: fixed;
  background-size: cover;
}

.body-fanshots {
  background-image: url(../assets/backGroudCoyote.jpg);
  background-position: center;
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed; 
 
}

.body-fanposts {
  background-image: url(../assets/big3Background.jpg);
  background-position: center;
  background-repeat: round;
  background-size: cover;
  background-attachment: fixed; 
}

.body-producto {
  background-color: #FF9A25;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f83e0b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23d40d21' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23af1153' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%238b126c' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2365126A' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; 
  
}

.body-contacto {
  background-image: url(../assets/BackgroundCoyoteDunk.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;;
  background-attachment: fixed;
}

