.nav__container {
  display: flex;
  height: 45px;
  width: 100%;
  top: 0px;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  z-index: 1;
  background-color: $backgroundNavDesktopAndMobile;
  opacity: 0.9;

  .nav__logo {
    font-size: 1.59rem;
    padding: 5px;
    font-family: $fontFamilyLogo;
    position: absolute;
    align-self: flex-start;
    color: #fff;
    cursor: pointer;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    background: 
    linear-gradient(
        to right,
        rgb(5, 5, 5),
        rgb(0, 0, 0)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1),
        rgb(197, 88, 15)
    );
      &:hover {
      box-shadow: inset 300px 0 0 0 #ce49c750;;
    } 
  }
  
  .nav__label {
    display: block;
    
    i { 
      font-size: 2.7em;
      cursor: pointer;
      color: #fff;
    
      &:hover {
        background-color: rgba(212, 83, 216, 0.719);
      
        &:active {
        color: black;
        }
      }
    }  
  }

  .nav__input {
    display: none;
  }
  .nav__input:checked + .nav__menu{
    clip-path: circle(100% at center);
  }

  .nav__menu {
    position: fixed;
    top: 45px;
    bottom: 0;
    background-color: black;
    left: 0;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    position: fixed;
    z-index: 1;
    opacity: 1;
    list-style: none;

    a {
      text-decoration: none;
      font-size: 2rem;
      font-family: $fontFamilyMobile;
      color: #fff;
      background:
      linear-gradient(
        to right,
        rgb(177, 14, 155),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
      );
        background-size: 100% 3px, 0 3px;
        background-position: 100% 100%, 0 100%;
        background-repeat: no-repeat;
        transition: background-size 400ms;
       
      &:hover {
          color: wheat;
          background-size: 0 3px, 100% 3px;
      } 
    }
  }
}

.nav__container_desktop {
  display: none;
}


 /*Fin del menu Hamburguesa*/
 @media only screen and (min-width: 726px) {
  .nav__container {
    display: none;
  }
/*Fin del menu Hamburguesa*/
/*---------------------------*/
/*Inicio del Menu desktop*/
  
  .nav__container_desktop {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    position: fixed;
    background-color: $backgroundNavDesktopAndMobile;
    opacity: 0.9;
    border: 2px solid #fff;
    z-index: 1;
    top: 0;

    .nav__logo_desktop {
      display: block;
      
      a {
        font-family: $fontFamilyLogo;
        cursor: pointer;
        color: #fff;
        text-decoration: none;
        transition: all 0.3s ease 0s;
          
        &:hover {
                background-color: #ca851d;
        
          &:active {
                  color: rgb(194, 69, 167);
          }
        }
      }
    }
      
    .nav__menu_desktop {
      display: block;
      
      li {
        list-style: none;
        display: inline-block;
        color: #fff;
        font-family: $fontFamilyDesktop;
        margin-right: 15px;
      
        a {
          text-decoration: none;
          color: #fff;
          padding: 5px;
          box-shadow: inset 0 0 0 0 #c58134;
          transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
      
          &:hover {
              color: #fff;
              box-shadow: inset 200px 0 0 0 #c151cf;

            &:active {
              color: wheat;
            }
          }
        }
      }
    }
  }
}
/*fin del menu desktop*/