.body-productos {

background: $back-ground-productos;

}
  .seccion-producto-0 {
    width: 95%;
    margin: 30px auto 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 100%;
    grid-template-areas: "cabeza" "torso-0" "torso-1" "torso-2" "torso-3" "pie-0" "pie-1" "pie-2" "pie-3";
    border: 5px solid #000000;
  
  p {
    font-size: 3.5em;
    text-align: left;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
    color: #fff;
  }
  div {
    width: 100%;
  
  }

  img {
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    border: 5px solid #000000;
 
    &:hover {
      transform: scale(1.1);
    }
  }
}
  
  .seccion-producto-1 {
    width: 95%;
    margin: 30px auto 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "cabeza-1" "tronco-0" "tronco-1" "tronco-2" "tronco-3" "raiz-0" "raiz-1" "raiz-2" "raiz-3";
    border: 5px solid #000000;
  
  

  p {
    font-size: 3.5em;
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px;
  }

  div {
    width: 100%;
    
  }
  
  img {
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    border: 5px solid #000000;
  
    &:hover {
      transform: scale(1.1);
    }
  }
}


  .seccion-producto-2 {
    width: 95%;
    margin: 20px auto 10px auto;
    display: grid;
    border: 5px solid #000000;
    grid-gap: 1rem;
    grid-template-columns: 100%;
    grid-template-areas: "cabeza-2" "abdomen-0" "abdomen-1" "abdomen-2" "abdomen-3" "pierna-0" "pierna-1" "pierna-2" "pierna-3";
 
  p {
    font-size: 3.5em;
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    text-align: center;
    padding: 10px; 
  }
  img {
    width: 100%;
    height: 100%;
    transition: transform 1.5s;
    border: 5px solid #000000;
  
    &:hover {
      transform: scale(1.1);
    }
  }
}

  @media screen and (min-width: 768px) {
    .main-producto {
      margin-top: 2.7rem;

    h2 {
      font-size: 3.9rem;
      width: 100%;
      text-align: center;
    }
    p {
      font-size: 2rem;
    }
  }


    .seccion-producto-0 {
      grid-template-columns: auto;
      grid-template-areas: "cabeza cabeza" "torso-0 torse-1" "torse-2 torso-3" "pie-0 pie-1" "pie-2 pie-3";
      margin-bottom: 2rem;
    
    .cabeza {
      grid-column-start: cabeza;
      grid-column-end: cabeza;
    }
  }

    .seccion-producto-1 {
      grid-template-columns: auto;
      grid-template-areas: "cabeza-1 cabeza-1" "tronco-0 tronco-1" "tronco-2 tronco-3" "raiz-0 raiz-1" "raiz-2 raiz-3";
      margin-bottom: 2rem;
    
    .cabeza-1 {
      grid-column-start: cabeza-1;
      grid-column-end: cabeza-1;
    }
  }

    .seccion-producto-2 {
      grid-template-columns: auto;
      grid-template-areas: "cabeza-2 cabeza-2" "abdomen-0 abdomen-1" "abdomen-2 abdomen-3" "pierna-0 pierna-1" "pierna-2 pierna-3";
      margin-bottom: 1rem;
    
    .cabeza-2 {
      grid-column-start: cabeza-2;
      grid-column-end: cabeza-2;
    }
  }
}
  
  @media screen and (min-width: 900px) {

    .main-producto {
      margin-top: 6rem;
  
    h2 {
      font-size: 6rem;
      width: 100%;
      text-align: center;
    }

    p {
      font-size: 2rem;
    }
  }

    .seccion-producto-0 {
      display: grid;
      width: 80%;
      grid-gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "cabeza cabeza cabeza cabeza" "torso-0 torso-1 torso-2 torseo-3" "pie-0 pie-1 pie-2 pie-3";
  
    .cabeza {
      grid-column-start: cabeza;
      grid-column-end: cabeza;
      font-size: 4rem;
    }
  }
    .seccion-producto-1 {
      display: grid;
      grid-gap: 1rem;
      width: 80%;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "cabeza-1 cabeza-1 cabeza-1 cabeza-1" "tronco-0 tronco-1 tronco-2 tronco-3" "raiz-0 raiz-1 raiz-2 raiz-3";
    
    .cabeza-1 {
      grid-column-start: cabeza-1;
      grid-column-end: cabeza-1;
      font-size: 4rem;
    }
  }
    .seccion-producto-2 {
      display: grid;
      grid-gap: 1rem;
      width: 80%;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "cabeza-2 cabeza-2 cabeza-2 cabeza-2" "abdomen-0 abdomen-1 abdomen-2 abdomen-3" "pierna-0 pierna-1 pierna-2 pierna-3";
    
      .cabeza-2 {
        grid-column-start: cabeza-2;
        grid-column-end: cabeza-2;
        font-size: 4rem;
      }
    }
  }
  
  
  
  @media only screen and (min-width: 1135px) {
    .main-producto {
      margin-top: 6rem;
 
      h2 {
        font-size: 6.3rem;
        width: 100%;
        text-align: center;
      }
      p {
        font-size: 2rem;
        width: 50%;
      }
    }

    .seccion-producto-0 {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "cabeza cabeza cabeza cabeza" "torso-0 torso-1 torso-2 torseo-3" "pie-0 pie-1 pie-2 pie-3";
    
    .cabeza {
      grid-column-start: cabeza;
      grid-column-end: cabeza;
      font-size: 5rem;
      width: 100%;
    }
  }

    .seccion-producto-1 {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "cabeza-1 cabeza-1 cabeza-1 cabeza-1" "tronco-0 tronco-1 tronco-2 tronco-3" "raiz-0 raiz-1 raiz-2 raiz-3";
   
    .cabeza-1 {
      grid-column-start: cabeza-1;
      grid-column-end: cabeza-1;
      font-size: 5rem;
      width: 100%;
    }
  }

    .seccion-producto-2 {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas: "cabeza-2 cabeza-2 cabeza-2 cabeza-2" "abdomen-0 abdomen-1 abdomen-2 abdomen-3" "pierna-0 pierna-1 pierna-2 pierna-3";
  
    .cabeza-2 {
      grid-column-start: cabeza-2;
      grid-column-end: cabeza-2;
      font-size: 5rem;
      width: 100%;
    }
  }
}