$fontFamilyDesktop: "Righteous", cursive;

$fontFamilyMobile: 'Lobster', cursive;

$fontFamilyLogo: 'Lobster', cursive;

$fontFamilyFooterSubTitles: 'Lobster', cursive;

$fontFamilyFooterParagraph: "Righteous", cursive;

$fontFamilyFooterReserved: 'Lobster', cursive;

$backgroundNavDesktopAndMobile: #000000;

$backGroundFooter: #000000;