/*index*/
$background-main-index: radial-gradient(circle, rgba(251,148,63,1) 0%, rgba(252,70,107,1) 100%);

/*bibliografia*/
$background-bibliografia: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);

/*fanposts*/
$back-ground-fanposts: linear-gradient(to top, #0b8793, #360033);

/*fanshots*/
$back-ground-fanshots: linear-gradient(to top, #A83279, #D38312);

/*productos*/
$back-ground-productos: linear-gradient(to top, #cbad6d, #d53369);

/*contacto*/
$back-ground-contacto: linear-gradient(to top, #0ABFBC, #FC354C);